@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap");

  html {
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
  }

  body {
    font-family: "Raleway", sans-serif;
    background-color: #111820;
  }
}

@layer components {
  .container {
    min-height: 100vh;
    @apply flex items-start text-sm mt-0 my-auto;
  }

  .page-content .container {
    @apply block w-full h-auto min-h-0;
    background-color: inherit;
  }
}

/* NUXT CONTENT */
.nuxt-content {
  @apply break-words text-left;

  & h1,
  & h2,
  & h3 {
    @apply font-bold tracking-wide pb-4;

    /* Fix anchor scrollTo */
    &::before {
      content: " ";
      visibility: hidden;
      pointer-events: none;
      @apply block;
    }

    /* Style anchor links on headings added by @nuxt/content */
    & > a {
      @apply ml-5;

      &::before {
        content: "#";
        @apply text-gray-500 font-normal text-xl leading-6 -ml-5 pr-2 absolute opacity-100;
      }

      @screen lg {
        @apply ml-0;

        &::before {
          @apply opacity-0;
        }
      }
    }

    &:hover {
      & > a::before {
        @apply opacity-100;
      }
    }
  }

  & h1,
  & h2 {
    &::before {
      @apply h-10;
    }
  }

  & h3 {
    &::before {
      @apply h-4;
    }
  }

  /* Force style on pre elements */
  & pre[class*="language-"] {
    /* Make pre static so the relative goes to the parent (.nuxt-content-highlight) */
    @apply bg-gray-800 static;
  }

  & ul {
    & li {
      @apply pb-2;
    }
  }

  & p {
    @apply text-justify;
  }

  & .nuxt-content-highlight {
    @apply relative;

    /* Style filename span added by @nuxt/content */
    & > .filename {
      @apply absolute right-0 top-0 text-gray-100 z-10 font-mono text-sm tracking-tight leading-none mr-4 mt-3;
    }

    /* Add top padding to code blocks with filename */
    & > .filename + pre[class*="language-"] {
      @apply pt-8;
    }

    /* Style copy button added in `pages/_.vue` */
    & > .copy {
      @apply hidden absolute right-0 bottom-0 leading-none shadow-lg px-2 py-2 text-white bg-gray-800 text-sm uppercase rounded-md border border-white font-semibold mr-3 mb-3;

      &:hover {
        @apply bg-gray-700;
      }

      &:focus {
        @apply outline-none bg-gray-600;
      }
    }
    &:hover {
      & > .copy {
        @apply block;
      }
    }
  }
}

.page-content {
  @apply w-full h-full p-16;
}

.page-title {
  @apply text-2xl uppercase tracking-wide w-full flex-auto mb-8;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
